NODE_ENV=
PORT=
JWT_SECRET=
JWT_EXPIRY=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
REDIS_HOST=
REDIS_PORT=
SALTING_ROUNDS=
EMAIL=
EMAIL_PASSWORD=
CLIENT_URL=
JWT_SECRET=
ACCESS_TOKEN_EXPIRY=
EMAILVERIFICATION_EXPIRY=
